/* helpers */
.max{
    width: 100%;
    height: 100%;
}


/* default background color */
.body{
    background-color: #1d1d23;
}

/* links */
div a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vmax;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

div a:hover {
    text-decoration: none;
    color: #e58f00;
}

/* nav img */
.navbar img {
    max-height: 8vh;
    max-width: 8vw;
}


/* slides spesific configiration */
.slide1{
    background-image: url('./img/slide1/slide1bg.png');
    background-size: 100% 100%;
}

div.slide1 nav{
    width: 100%;
    padding: 30px 0px;
}

.slide3{
    height: 2000px;
    background-image: url('./img/slide3/slide3bg.png');

}

.slide5{
    height: 1000px;
    background-image: url('./img/slide5/slide5bg.png');
}

.slide7{
    height: 1000px;
    background-image: url('./img/slide7/slide7bg.png');
    background-size: 100% 50vw;
    background-position-y: 70px;
    background-repeat: no-repeat;
}

.slide3, .slide5{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s3-content{
    padding-top: 500px;
    padding-left: 10vw;
}

.s5-content{
    background-color: #1d1d23a1;
    padding: 100px;
    border: 10px solid #e58f00;
    text-align: center;
}

.s6-content *{
    padding: 5px;
}

.s7-content{
    height: 400px;
    width: 100%;
    background-color: #e58f00;
    background-size:  50% 50%;
    z-index: -10;
}


/* text configiration */
h1, h2, h3, p{
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.big{
    color: #e58f00;
    font-size: 5vw;
}

.big2{
    color: white;
    font-size: 2.6vw;
}

.big3{
    color: #e58f00;
    font-size: 1.95vw;
}

.lorem{
    font-size: 2vw;
    max-width: 45vw;
}

.lorem2{
    font-size: 2vw;
    max-width: 33vw;
}

.lorem, .lorem2{
    color: white;
    font-family: 'Merriweather', serif;
}


/* contact button */
.contactUs {
    background-color: #e58f00;
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    width: 160px;
    height: 50px;
    transition: 0.5s;
}

.contactUs:focus {
    background-color: #e58d00a8;
}

/* for spacing links at the bottom of the page */
.space *{
    margin: 0px 10px;
}

/* watermark config */
.watermark{
    color: #a5a5a5;
}

.watermark:hover{
    color: #858585;
    text-decoration: none;
}

/* responsiveness config */
img{
    max-width: 45vw;
    max-height: 70vh;
}

@media screen and (max-width: 700px) {
    .big{
        font-size: 3vw;
    }
    .lorem{
        font-size: 50%;
    }
  }