.body{
    background-color: #1d1d23;
}

nav div a {
    font-size: 12px;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s
}

nav div a:hover {
    text-decoration: none;
    color: #e58f00;
}

.max{
    width: 100%;
    height: 100%;
}

.slide1{
    background-image: url('./img/slide1/slide1bg.png');
}

div.slide1 nav{
    width: 100%;
    padding: 30px 0px;
}

.big{
    font-size: 60px;
}

.big2{
    font-size: 40px;
}

h1{
    color: #e58f00;
    font-family: 'Merriweather', serif;
}

h2{
    color: white;
    font-family: 'Merriweather', serif;

}

.lorem{
    color: white;
    max-width: 400px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
}

.lorem2{
    color: white;
    max-width: 500px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 30px;
}

.contactUs {
    background-color: #e58f00;
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    width: 160px;
    height: 50px;
    transition: 0.5s;
}

.contactUs:focus {
    background-color: #e58d00a8;
}